#returnedItems {
    text-align: center;
}

img {
    width: 15%;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    text-align: left;
    list-style-type: decimal;
    border: solid 1px #666666;
    display: inline-block;
    width: 30%;
    padding: 0;
}

li {
    padding: 2.5%;
    font-size: 22px;
    border-bottom: solid 1px;
}